.App {
  text-align: center;
  background: #eee;
}

.header{
  background: #fff;
  max-width: 900px;
  margin: auto;
}

.header img{
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.money-container{
  max-width: 900px;
  margin: auto;
  color: #fff;
  background: linear-gradient(180deg,#2ecc71,#1abc9c);
  padding: 5px 0;
  font-size: 2em;
}